<div class="container">
    <div class="row">
        <div class="col s8 offset-s2 red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aut iusto, reprehenderit cumque dicta fugit maxime magni distinctio quod a consequuntur enim velit soluta dolore eaque error adipisci ducimus. Laudantium!</div>
    </div>
</div>
