<select>
    <option value="1" selected>Muy Feliz</option>
    <option value="2">Feliz</option>
    <option value="3">Normal</option>
    <option value="4">Triste</option>
    <option value="5">Muy Triste</option>
</select>
