
<p>
  <input type="checkbox" id="g1" />
  <label for="g1">Cine</label>
</p>
<p>
  <input type="checkbox" id="g2" />
  <label for="g2">Literatura</label>
</p>
<p>
  <input type="checkbox" id="g3" />
  <label for="g3">Música</label>
</p>
<p>
  <input type="checkbox" id="g4" />
  <label for="g4">Deportes</label>
</p>
<p>
  <input type="checkbox" id="g5" />
  <label for="g5">Arte</label>
</p>
<p>
  <input type="checkbox" id="g6" />
  <label for="g6">Tecnología</label>
</p>
<p>
  <input type="checkbox" id="g7" />
  <label for="g7">Ciencias exactas</label>
</p>
<p>
  <input type="checkbox" id="g8" />
  <label for="g8">Gastronomía</label>
</p>
<p>
  <input type="checkbox" id="g9" />
  <label for="g9">Manualidades</label>
</p>
<p>
  <input type="checkbox" id="g10" />
  <label for="g10">Ciencias sociales y humanas</label>
</p>


<div id="guardar" class="btn-rounded float-right g-margin">Guardar gustos</div>
