<p>
  <input type="checkbox" id="o1" />
  <label for="o1">Estudiante</label>
</p>
<p>
  <input type="checkbox" id="o2" />
  <label for="o2">Trabajador</label>
</p>
<p>
  <input type="checkbox" id="o3" />
  <label for="o3">Sin ocupación</label>
</p>


<div id="guardar2" class="btn-rounded float-right g-margin">Guardar ocupacion</div>
